.home-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120px;
    text-align: center;
    color: rgb(49, 0, 49);
    margin: 50px auto 100px auto;
}



.recipe-card {
    display: inline-block;
    margin-left: 20px;
    /* margin-right: 20px; */
    
}



.recipe-card-image {
    margin: 20px 20px 0px 20px;
    display: block;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-right: 2px solid gray;

}



.recipe-card-link {
    background: rgb(255, 190, 11, 0.6);
    display: block;
    box-sizing: border-box;
    height: 100px;
    width: 400px;
    font-size: 25px;
    padding: 40px;
    margin: 0px 20px 20px 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom: 2px solid gray;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}

.placeholder-image.sinigang {
    margin: 20px 20px 0px 20px;
    display: block;
    width: 400px;
    height: 300px;
    background-image: url("../images/sinigang.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.placeholder-image.pancake {
    margin: 20px 20px 0px 20px;
    display: block;
    width: 400px;
    height: 300px;
    background-image: url("../images/seafood-pancake.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
}

.placeholder-image.mango-float {
    margin: 20px 20px 0px 20px;
    display: block;
    width: 400px;
    height: 300px;
    background-image: url("../images/mango-float.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}