/* .recipe-card { */

/* } */
/* .home-header { */
    /* background: rgb(49, 0, 49); */
    /* height: 180px; */
/* } */

.home-title {
    font-size: 120px;
    text-align: center;
    color: rgb(49, 0, 49);
    margin: 0 auto 100px auto;
}

.recipe-card .all{
    margin: auto;
}

.recipe-card {
    display: inline-block;
    margin-left: 20px;
    /* margin-right: 20px; */
    
}

.recipe-card-image {
    margin: 20px 20px 0px 20px;
    display: block;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}

.recipe-card-link {
    background: rgb(255, 190, 11, 0.6);
    display: block;
    box-sizing: border-box;
    height: 100px;
    width: 400px;
    font-size: 25px;
    padding: 40px;
    margin: 0px 20px 20px 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}